.floatedleft{
    float:left;
    width: 40%;
}
.floatedleft p{
    border-bottom: solid black 1px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.floatedright{
    float:right;
    text-align: center;
}

#socialmediaWrapper{
    font-size: 35px;
    margin-right: 7%;
}

/*EMAIL link*/
span#email i{
    font-size: 35px;
    color: #000000;
}
span#email i:hover{
    color: #D9D9D9;
}

/*TWITTER link*/
span#twitter i{
    color: #33CCFF;
}
span#twitter i:hover{
    color: #ADEBFF;
}

/*LINKEDIN link*/
span#linkedin i{
    color: #4875B4;
}
span#linkedin i:hover{
    color:#91ACD2;
}

/*GITHUB link*/
span#github i{
    color: #000000;
}
span#github i:hover{
    color: #D9D9D9;
}

@media all and (max-width: 849px) {
    .floatedleft{
        width: 100%;
    }
    .floatedright{
        float: none;
    }
}
