<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
        <add name="CustomersString" connectionString="Data Source=localhost;Initial Catalog=Customers;Integrated Security=false;User ID=Dean;Password=dean11189262" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <!--<machineKey validationKey='96EFF1EAE42423F6CBB21A2AE10942155C8CBE3F6EF1581050185B53650C3767223FA41F025B489946047537246941D53CB37DCF69478EFC79241A8537C8D5E8'   decryptionKey='40889520BAFEE14093F3E8E669F54DAE8D74B98FA1FE57B1'   validation='SHA1'/>-->
  </system.web>

</configuration>